<!-- Sidebar -->
{% load static %}
<style>
    a {
      text-decoration: none;
    }
    .sidebar-dropdown .sidebar-item {
       line-height: 0.5;
   }
</style>

<aside id="sidebar" class="sidebar-toggle">
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">
            Пользователь
        </li>
        <li class="sidebar-item">
            {% if user.is_authenticated %}
            <a href="#" class="sidebar-link">
                <img src="{% static 'todo_list/assets/person.svg' %}" alt="user"
                     width="25" height="25">
                <span>{{ user.name }}</span>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="sidebar-link">
                <img src="{% static 'todo_list/assets/door-open.svg' %}" alt="LogIN"
                     width="25" height="25">
                <span>Войти</span>
            </a>

            <a href="{% url 'register' %}" class="sidebar-link">
                <img src="{% static 'todo_list/assets/person-add.svg' %}" alt="Register"
                     width="25" height="25">
                <span>Регистрация</span>
            </a>
            {% endif %}
        </li>

        {% if user.is_authenticated %}
        <li class="sidebar-item" style="display: flex; align-items: center; justify-content: space-between;">
            <a href="{% url 'categories' %}" class="sidebar-link">
                <img src="{% static 'todo_list/assets/tags.svg' %}" alt="categories"
                     width="25" height="25">
                <span>Категории</span>
            </a>
            <a href="{% url 'add_categories' %}">
                <img class="icon" src="{% static 'todo_list/img/icon-addlink.svg' %}" alt="dots icon">
            </a>
        </li>
        {% if categories_list %}
        <li class="sidebar-header">
            Категории
        </li>
        {% endif %}

        {% for i in categories_list %}
        <li class="sidebar-item small">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
               data-bs-target="#{{ i.name|urlencode }}" aria-expanded="false" aria-controls="{{ i.name|urlencode }}"
               style="margin-top: 1px;">
                <img src="{% static 'todo_list/assets/tag.svg' %}" alt="categories"
                     width="25" height="25">
                <span>{{ i.name }}</span>
            </a>
            <ul id="{{ i.name|urlencode }}" class="sidebar-dropdown collapse list-unstyled small" style="height: auto;">
                {% for j in i.notes.all %}
                <li class="sidebar-item small">
                    <a href="#" class="sidebar-link"><p class="fs-6">{{ j.title }}</p></a>
                </li>
                {% endfor %}

            </ul>
        </li>
        {% endfor %}

        {% endif %}
    </ul>
    <!-- Sidebar Navigation Ends -->

    <div class="sidebar-footer">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Выйти</span>
        </a>
        {% else %}

        {% endif %}

    </div>
</aside>