<!-- Sidebar -->
<style>
    a {
      text-decoration: none;
    }
</style>

<aside id="sidebar" class="sidebar-toggle">
    <!-- Sidebar Navigation -->
    <ul class="sidebar-nav p-0">
        <li class="sidebar-header">
            Пользователь
        </li>
        <li class="sidebar-item">
            {% if user.is_authenticated %}
            <a href="#" class="sidebar-link">
                <i class="lni lni-user"></i>
                <span>{{ user.name }}</span>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="sidebar-link">
                <i class="lni lni-user"></i>
                <span>Войти</span>
            </a>

            <a href="{% url 'register' %}" class="sidebar-link">
                <i class="lni lni-user"></i>
                <span>Регистрация</span>
            </a>
            {% endif %}
        </li>

        {% if user.is_authenticated %}
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="lni lni-agenda"></i>
                <span>Создать категорию</span>
            </a>
        </li>

        <li class="sidebar-header">
            Категории
        </li>

        <li class="sidebar-item small">
            <a href="" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#auth" aria-expanded="true" aria-controls="auth" style="height: 40px;">
                <i class="lni lni-protection"></i>
                <span>Работа</span>
            </a>
            <ul id="auth" class="sidebar-dropdown collapse small " data-bs-parent="#sidebar">
                <li class="sidebar-item small" style="height: 35px;">
                    <a href="#" class="sidebar-link"><p class="fs-6">Вывод наименований всех заметок</p></a>
                </li>
                <li class="sidebar-item small" style="margin-top: 15px;">
                    <a href="#" class="sidebar-link">
                        <p class="fs-6">Заметка по работе №2
                        </p>
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
    <!-- Sidebar Navigation Ends -->

    <div class="sidebar-footer">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Выйти</span>
        </a>
        {% else %}

        {% endif %}

    </div>
</aside>