{% extends "base.html" %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'todo_list/css/topics.css' %}">
<link rel="stylesheet" href="{% static 'todo_list/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block title %} Регистрация {% endblock %}


{% block content %}



<div class="container w-25 mt-5">
    <div class="row justify-content-center">
        <form class="" method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-check mb-3">
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                <div class="error">{{f.errors}}</div>
            </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
            <div class="form-check mb-3">
                <p class="errornote">
                    {{ f.errors }}
                </p>
            </div>
            {% endfor %}
            <div class="form-check mb-3 ">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}
