{% extends "base.html" %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'todo_list/css/topics.css' %}">
<link rel="stylesheet" href="{% static 'todo_list/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'todo_list/bars/sidebar.html' %}
    <!-- Sidebar Ends -->
    <!-- Main Component -->

    <div class="main">
        {% include 'todo_list/bars/navbar.html' %}
        <main class="p-3">

            <div class="container-fluid">
                <h2>Категория "{{ object.name }}"</h2>
                <div class="col-md-6">
                    <a href="{% url 'add_notes' object.pk %}" class="btn btn-success">Добавить заметку</a>
                </div>

                <p>Заметки:</p>
                <div class="mb-3 mt-2 text-center">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for i in notes %}
                        <div class="col">
                            <div class="card"
                                 style="width: 18rem; height: 20rem; background-color: {% if i.note.color == 'red' %}#d65858;{% elif i.note.color == 'green' %}#59c098;{% elif i.note.color == 'orange' %}orange;{% endif %}">
                                <h5 class="card-title">{{i.note.title}}</h5>
                                <textarea class="form-control textarea" rows="10"
                                          style="border: 1px solid #ccc; width: 100%; box-sizing: border-box;">{{i.note.description}}</textarea>
                                <div class="row">
                                    <div class="col-12">
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th style="font-size: 12px;">Дата создания:</th>
                                                <td style="font-size: 12px;">{{i.note.published_date}}</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Дедлайн:</th>
                                                <td style="font-size: 12px;">{{i.time_left}}</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Действия:</th>
                                                <td style="font-size: 12px;">


                                                    <div class="row">
                                                        <div class="col-md-6 text-center">
                                                            <a href="" style="color: yellow;">
                                                                <img src="{% static 'todo_list/assets/pencil.svg' %}"
                                                                     alt="edit"
                                                                     width="15" height="15">
                                                            </a>
                                                        </div>


                                                        <div class="col-md-6 text-center">
                                                            <a href="" style="color: red;">
                                                                <img src="{% static 'todo_list/assets/trash.svg' %}"
                                                                     alt="delete"
                                                                     width="15" height="15">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">№</th>
                        <th scope="col" class="text-center">Наименование</th>
                        <th scope="col" class="text-center">Описание</th>
                        <th scope="col" class="text-center">Оставшееся время дедлайна</th>
                        <th scope="col" class="text-center">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in notes %}
                    <tr class="{% if i.note.color == 'red' %}table-danger{% elif i.note.color == 'green' %}table-success{% elif i.note.color == 'orange' %}table-warning{% endif %}">
                        <th scope="row"
                            class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td class="">
                            {{i.note.title}}
                        </td>
                        <td class="">
                            {{i.note.description}}
                        </td>
                        <td class="">
                            {{i.time_left}}
                        </td>
                        <td class="">
                            <div class="row">

                                <div class="col-md-4 text-center">
                                    <a href="" style="color: green;">
                                        <img src="{% static 'todo_list/assets/eye.svg' %}" alt="check"
                                             width="15" height="15">
                                    </a>
                                </div>


                                <div class="col-md-4 text-center">
                                    <a href="" style="color: yellow;">
                                        <img src="{% static 'todo_list/assets/pencil.svg' %}" alt="edit"
                                             width="15" height="15">
                                    </a>
                                </div>


                                <div class="col-md-4 text-center">

                                    <a href="" style="color: red;">
                                        <img src="{% static 'todo_list/assets/trash.svg' %}" alt="delete"
                                             width="15" height="15">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script src="{% static 'todo_list/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'todo_list/js/sidebar.js' %}"></script>
{% endblock %}
