{% extends "base.html" %}
{% load static %}

{% block css_additional %}
<link rel="stylesheet" href="{% static 'todo_list/css/topics.css' %}">
<link rel="stylesheet" href="{% static 'todo_list/bootstrap/css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'todo_list/bars/sidebar.html' %}
    <!-- Sidebar Ends -->
    <!-- Main Component -->

    <div class="main">
        {% include 'todo_list/bars/navbar.html' %}
        <main class="p-3">

            <div class="container-fluid">
                <h2>Категория "{{ object.name }}"</h2>
                <div class="col-md-6">
                    <a href="{% url 'add_categories' %}" class="btn btn-success">Добавить заметку</a>
                </div>

                <p>Список заметок:</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">№</th>
                        <th scope="col" class="text-center">Наименование</th>
                        <th scope="col" class="text-center">Описание</th>
                        <th scope="col" class="text-center">Оставшееся время дедлайна</th>
                        <th scope="col" class="text-center">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in notes %}
                    <tr class="{% if i.note.color == 'red' %}table-danger{% elif i.note.color == 'green' %}table-success{% elif i.note.color == 'orange' %}table-warning{% endif %}">
                        <th scope="row"
                            class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td class="">
                            {{i.note.title}}
                        </td>
                        <td class="">
                            {{i.note.description}}
                        </td>
                        <td class="">
                            {{i.time_left}}
                        </td>
                        <td class="">
                            <div class="row">

                                <div class="col-md-6 text-center">
                                    <a href="" style="color: green;">
                                        <img src="{% static 'todo_list/assets/eye.svg' %}" alt="Bootstrap"
                                             width="15" height="15">
                                    </a>
                                </div>
                                <div class="col-md-6 text-center">

                                    <a href="" style="color: red;">
                                        <img src="{% static 'todo_list/assets/trash.svg' %}" alt="Bootstrap"
                                             width="15" height="15">
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script src="{% static 'todo_list/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
