{% extends "base.html" %}
{% load static %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'todo_list/css/topics.css' %}">
<link rel="stylesheet" href="{% static 'todo_list/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block content %}
<div class="d-flex">
    {% include 'todo_list/bars/sidebar.html' %}
    <!-- Sidebar Ends -->
    <!-- Main Component -->

    <div class="main">
        {% include 'todo_list/bars/navbar.html' %}
        <main class="p-3">

            <div class="container-fluid">
                <h2>Категория "{{ object.name }}"</h2>
                <div class="col-md-6">
                    <a href="{% url 'add_notes' object.pk %}" class="btn btn-success">Добавить заметку</a>
                </div>

                <p>Заметки:</p>
                <div class="mb-3 mt-2 text-center">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for i in notes %}
                        <div class="col">
                            <div class="card"
                                 style="width: 18rem; height: 20rem; background-color: {% if i.note.color == 'red' %}#d65858;{% elif i.note.color == 'green' %}#59c098;{% elif i.note.color == 'orange' %}orange;{% endif %}">
                                <h5 class="card-title">
                                    {{i.note.title}}
                                </h5>
                                <textarea class="form-control textarea" rows="10"
                                          style="border: 1px solid #ccc; width: 100%; box-sizing: border-box;">{{i.note.description}}</textarea>
                                <table class="table table-sm">
                                    <tbody>
                                    <tr>
                                        <th style="font-size: 12px;">Дата создания:</th>
                                        <td style="font-size: 12px;">{{i.note.published_date}}</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Дедлайн:</th>
                                        <td style="font-size: 12px;">{{i.time_left}}</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Действия:</th>
                                        <td style="font-size: 12px;">


                                            <div class="row">
                                                <div class="col-md-6 text-center">
                                                    <a href="" style="color: yellow;">
                                                        <img src="{% static 'todo_list/assets/pencil.svg' %}"
                                                             alt="edit"
                                                             width="15" height="15">
                                                    </a>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <a href="" style="color: red;">
                                                        <img src="{% static 'todo_list/assets/trash.svg' %}"
                                                             alt="delete"
                                                             width="15" height="15">
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col" id="adder">
                            <div class="card" style="width: 18rem; height: 20rem; opacity: 0.7;">
                                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                    <button type="button" class="btn btn-success add" id="add-form">+</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-container" style="display: none;">
                            <form method="POST" id="note-form" action="{% url 'add_notes' object.pk %}">
                                <input type="hidden" id="cat-id" name="cat-id" value="{{ object.pk }}">
                                {% csrf_token %}
                                <div class="col">
                                    <div class="card"
                                         style="width: 18rem; height: 20rem;">
                                        <h5 class="card-title">
                                            <input type="text" name="title" maxlength="255"
                                                   class="form-control"
                                                   placeholder="Наименование заметки" required=""
                                                   aria-invalid="true" id="id_title">
                                        </h5>
                                        <textarea name="description" class="form-control" rows="10"
                                                  style="border: 1px solid #ccc; width: 100%; box-sizing: border-box;"
                                                  placeholder="Описание заметки" required=""
                                                  id="id_description"></textarea>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <th style="font-size: 12px;">Дедлайн:</th>
                                                        <td style="font-size: 12px;">

                                                            <input type="text" name="deadline"
                                                                   class="form-control datepicker form-control-sm"
                                                                   id="datetimepicker" placeholder="Дедлайн">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="font-size: 12px;">Цвет заметки:</th>
                                                        <td style="font-size: 12px;">
                                                            <select name="color"
                                                                    class="form-select form-select-sm"
                                                                    id="id_color">
                                                                <option value="red">Красный</option>
                                                                <option value="orange">Оранжевый</option>
                                                                <option value="green" selected="">Зеленый</option>

                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th style="font-size: 12px;">Действия:</th>
                                                        <td style="font-size: 12px;">
                                                            <div class="row">
                                                                <div class="col-md-12 text-center">
                                                                    <button type="submit" class="btn"
                                                                            id="save-note" style="padding: 0;">
                                                                        <img src="{% static 'todo_list/assets/database-add.svg' %}"
                                                                             alt="save"
                                                                             width="15" height="15">
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}
{% block js_additional %}
<script src="{% static 'todo_list/js/jquery.js' %}"></script>
<script src="{% static 'todo_list/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'todo_list/js/sidebar.js' %}"></script>
<script src="{% static 'todo_list/js/datepicker.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<!---<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> --->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/locale/ru.js"></script>

<script src="{% static 'todo_list/js/note_add.js' %}"></script>
{% endblock %}

