{% extends "base.html" %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'todo_list/css/styles.css' %}">
{% endblock %}

{% block title %} TODO CHECKER {% endblock %}


{% block content %}

<h1>Список дел</h1>
{% if user.is_authenticated %}

<h1>Пользователь успешно авторизован!</h1>

<a href="{{ links.logout }}">
<button>
    Logout
</button>
</a>

<a href="{{ links.topics }}">
<button>
    Topics
</button>
</a>

{% else %}
<a href="{{ links.login }}">
<button>
    Log in
</button>
    </a>

<a href="{{ links.register }}">
<button>
    Register
</button>
</a>


{% endif %}

{% endblock %}
